<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <h1 id="ascii">ASCII ART WEB</h1>
        <form action="/ascii" method="post" class="form">
            <div class="select">
                <div class="font-wrapper">
                    <label for="select_font" class="font">Choose font:</label>
                    <select name="font" id="font">
                      <option value="standard" selected>Standard</option>
                      <option value="shadow">Shadow</option>
                      <option value="thinkertoy">Thinkertoy</option>
                    </select>
                </div>
                <div class="color-wrapper">
                    <label class="select_color" for="color">Color:</label>
                    <input type="color" name="color" value="#000000" id="color">
                </div>
            </div>
            <textarea class="textarea" id="text" name="text" rows="10" cols="100" minlength="1" placeholder="Only english text">{{ if .HasOutput }}{{ .InitialText }}{{ end }}</textarea>
            <div class="button">
                <input type="submit" value="Submit" id="submit">
            </div>
        </form>
        <div class="output_box">
            <pre class="output" style="color:{{ .Color }};">{{ if .HasOutput }}{{ .Text }}{{ end }}</pre>
        </div>
    </div>
    
</body>
</html>

